<?xml version="1.0" encoding="UTF-8"?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e_robotiq">
    <xacro:arg name="gripper_model" default="robotiq_linkage"/>
    <xacro:property name="gripper_model" value="$(arg gripper_model)"/>

    <!--GROUPS: Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms, end effectors, etc-->
    <group name="arm">
        <chain base_link="base_link" tip_link="tool0"/>
    </group>

    <!-- Gripper group: conditional on gripper_model -->
    <xacro:if value="${gripper_model == 'robotiq_linkage'}">
        <group name="gripper">
            <joint name="robotiq_85_left_knuckle_joint"/>
        </group>
        <group_state name="open" group="gripper">
            <joint name="robotiq_85_left_knuckle_joint" value="0"/>
        </group_state>
    </xacro:if>

    <xacro:if value="${gripper_model == 'parallel_jaw'}">
        <group name="gripper">
            <joint name="gripper_jaw_joint"/>
        </group>
        <group_state name="open" group="gripper">
            <joint name="gripper_jaw_joint" value="0"/>
        </group_state>
    </xacro:if>

    <!--GROUP STATES: Purpose: Define a named state for a particular group, in terms of joint values. This is useful to define states like 'folded arms'-->
    <group_state name="home" group="arm">
        <joint name="elbow_joint" value="1.5708"/>
        <joint name="shoulder_lift_joint" value="-1.5708"/>
        <joint name="shoulder_pan_joint" value="0"/>
        <joint name="wrist_1_joint" value="-1.5708"/>
        <joint name="wrist_2_joint" value="-1.5708"/>
        <joint name="wrist_3_joint" value="0"/>
    </group_state>

    <!--END EFFECTOR: Purpose: Represent information about an end effector.-->
    <end_effector name="gripper_eef" parent_link="tool0" group="gripper" parent_group="arm"/>

    <!--DISABLE COLLISIONS: Arm links (common to all gripper models) -->
    <disable_collisions link1="base_link_inertia" link2="shoulder_link" reason="Adjacent"/>
    <disable_collisions link1="forearm_link" link2="upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="forearm_link" link2="wrist_1_link" reason="Adjacent"/>
    <disable_collisions link1="forearm_link" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="shoulder_link" link2="upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="ur_to_robotiq_link" link2="wrist_1_link" reason="Never"/>
    <disable_collisions link1="ur_to_robotiq_link" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="ur_to_robotiq_link" link2="wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="wrist_1_link" link2="wrist_2_link" reason="Adjacent"/>
    <disable_collisions link1="wrist_1_link" link2="wrist_3_link" reason="Never"/>
    <disable_collisions link1="wrist_2_link" link2="wrist_3_link" reason="Adjacent"/>

    <!--DISABLE COLLISIONS: robotiq_linkage specific -->
    <xacro:if value="${gripper_model == 'robotiq_linkage'}">
        <disable_collisions link1="robotiq_85_base_link" link2="robotiq_85_left_finger_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_base_link" link2="robotiq_85_left_finger_tip_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_base_link" link2="robotiq_85_left_inner_knuckle_link" reason="Adjacent"/>
        <disable_collisions link1="robotiq_85_base_link" link2="robotiq_85_left_knuckle_link" reason="Adjacent"/>
        <disable_collisions link1="robotiq_85_base_link" link2="robotiq_85_right_finger_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_base_link" link2="robotiq_85_right_finger_tip_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_base_link" link2="robotiq_85_right_inner_knuckle_link" reason="Adjacent"/>
        <disable_collisions link1="robotiq_85_base_link" link2="robotiq_85_right_knuckle_link" reason="Adjacent"/>
        <disable_collisions link1="robotiq_85_base_link" link2="ur_to_robotiq_link" reason="Adjacent"/>
        <disable_collisions link1="robotiq_85_base_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_base_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_base_link" link2="wrist_3_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_link" link2="robotiq_85_left_finger_tip_link" reason="Adjacent"/>
        <disable_collisions link1="robotiq_85_left_finger_link" link2="robotiq_85_left_inner_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_link" link2="robotiq_85_left_knuckle_link" reason="Adjacent"/>
        <disable_collisions link1="robotiq_85_left_finger_link" link2="robotiq_85_right_finger_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_link" link2="robotiq_85_right_finger_tip_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_link" link2="robotiq_85_right_inner_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_link" link2="robotiq_85_right_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_link" link2="ur_to_robotiq_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_link" link2="wrist_3_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_tip_link" link2="robotiq_85_left_inner_knuckle_link" reason="Default"/>
        <disable_collisions link1="robotiq_85_left_finger_tip_link" link2="robotiq_85_left_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_tip_link" link2="robotiq_85_right_finger_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_tip_link" link2="robotiq_85_right_finger_tip_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_tip_link" link2="robotiq_85_right_inner_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_tip_link" link2="robotiq_85_right_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_tip_link" link2="ur_to_robotiq_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_tip_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_tip_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_finger_tip_link" link2="wrist_3_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="robotiq_85_left_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="robotiq_85_right_finger_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="robotiq_85_right_finger_tip_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="robotiq_85_right_inner_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="robotiq_85_right_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="ur_to_robotiq_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="wrist_3_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_knuckle_link" link2="robotiq_85_right_finger_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_knuckle_link" link2="robotiq_85_right_finger_tip_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_knuckle_link" link2="robotiq_85_right_inner_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_knuckle_link" link2="robotiq_85_right_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_knuckle_link" link2="ur_to_robotiq_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_knuckle_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_knuckle_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_left_knuckle_link" link2="wrist_3_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_finger_link" link2="robotiq_85_right_finger_tip_link" reason="Adjacent"/>
        <disable_collisions link1="robotiq_85_right_finger_link" link2="robotiq_85_right_inner_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_finger_link" link2="robotiq_85_right_knuckle_link" reason="Adjacent"/>
        <disable_collisions link1="robotiq_85_right_finger_link" link2="ur_to_robotiq_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_finger_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_finger_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_finger_link" link2="wrist_3_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_finger_tip_link" link2="robotiq_85_right_inner_knuckle_link" reason="Default"/>
        <disable_collisions link1="robotiq_85_right_finger_tip_link" link2="robotiq_85_right_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_finger_tip_link" link2="ur_to_robotiq_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_finger_tip_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_finger_tip_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_finger_tip_link" link2="wrist_3_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_inner_knuckle_link" link2="robotiq_85_right_knuckle_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_inner_knuckle_link" link2="ur_to_robotiq_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_inner_knuckle_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_inner_knuckle_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_inner_knuckle_link" link2="wrist_3_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_knuckle_link" link2="ur_to_robotiq_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_knuckle_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_knuckle_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="robotiq_85_right_knuckle_link" link2="wrist_3_link" reason="Never"/>
    </xacro:if>

    <!--DISABLE COLLISIONS: parallel_jaw specific -->
    <xacro:if value="${gripper_model == 'parallel_jaw'}">
        <disable_collisions link1="gripper_base_link" link2="jaw_fixed_link" reason="Adjacent"/>
        <disable_collisions link1="gripper_base_link" link2="jaw_moving_link" reason="Adjacent"/>
        <disable_collisions link1="gripper_base_link" link2="ur_to_robotiq_link" reason="Adjacent"/>
        <disable_collisions link1="gripper_base_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="gripper_base_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="gripper_base_link" link2="wrist_3_link" reason="Never"/>
        <disable_collisions link1="jaw_fixed_link" link2="pad_fixed_link" reason="Adjacent"/>
        <disable_collisions link1="jaw_fixed_link" link2="ur_to_robotiq_link" reason="Never"/>
        <disable_collisions link1="jaw_fixed_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="jaw_fixed_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="jaw_fixed_link" link2="wrist_3_link" reason="Never"/>
        <disable_collisions link1="jaw_moving_link" link2="pad_moving_link" reason="Adjacent"/>
        <disable_collisions link1="jaw_moving_link" link2="ur_to_robotiq_link" reason="Never"/>
        <disable_collisions link1="jaw_moving_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="jaw_moving_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="jaw_moving_link" link2="wrist_3_link" reason="Never"/>
        <disable_collisions link1="pad_fixed_link" link2="ur_to_robotiq_link" reason="Never"/>
        <disable_collisions link1="pad_fixed_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="pad_fixed_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="pad_fixed_link" link2="wrist_3_link" reason="Never"/>
        <disable_collisions link1="pad_moving_link" link2="ur_to_robotiq_link" reason="Never"/>
        <disable_collisions link1="pad_moving_link" link2="wrist_1_link" reason="Never"/>
        <disable_collisions link1="pad_moving_link" link2="wrist_2_link" reason="Never"/>
        <disable_collisions link1="pad_moving_link" link2="wrist_3_link" reason="Never"/>
        <disable_collisions link1="pad_fixed_link" link2="jaw_moving_link" reason="Never"/>
        <disable_collisions link1="pad_moving_link" link2="jaw_fixed_link" reason="Never"/>
        <disable_collisions link1="pad_fixed_link" link2="pad_moving_link" reason="Never"/>
    </xacro:if>
</robot>
